@primary-color: white;
@bg: #00001c;
h1 {
  color: @primary-color;
  background-color: @bg;
}

html {
  background-color: @bg;
  height: 100%;
}


.add-ship {
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    margin-top: 1rem;
    border: none;
    border-radius: 7px;
    padding: 7px;
    width: 100px;
  }

}

.main-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .hero-image {
    display: flex;
    margin: auto;
    margin-top: 2%;

    img {
      width: 500px;
    }
  }

}
.gameboards {
  display: flex;
  margin-top: 7.5%;
  justify-content: center;
  gap: 10%;
}
.gameboards {
  > * {
    display: grid;
    grid-template-columns: repeat(10, 2.5rem);
    grid-template-rows: repeat(10, 2.5rem);
    border: 1px solid white;
    width: 400px;
    height: 400px;
  }
  .gameboard--right {
    .taken {
      background-color: @bg;

      &:hover {
        background-color:#3a3a50;
      }
    }
  }
}

.game-square {
  outline: 1px solid white;

  &:hover {
    transition-property: background-color;
    transition-duration: 100ms;
    background-color: #3a3a50;
  }

  &:active {
    transition-property: background-color;
    transition-duration: 50ms;
    background-color: #595979;
  }

  &.taken {
    background-color: green;
  }

  &.hit {
    background-color: rgb(92, 92, 92);
  }

  &.hit.taken {
    background-color: rgb(120, 0, 0);
  }

  &.hit::after {
    content: url('./icons/miss-mark.svg');
  }
}
